@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

.text-color-main {
  color: #fadc69;
}

.text-color-secondary {
  color: #122620;
}

@media (min-width: 768px) {
  .md\:text-color-secondary {
    --tw-text-opacity: 1;
    color: #122620;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.img-float {
  animation: float 3s ease-in-out infinite;
}

.text-shadow {
  text-shadow: 2px 2px #ff0000;
}

body {
  padding: 0 !important;
  margin: 0;
  font-size: 16px;
}

.hero-img {
  /* Contain image ratio when zoomed in/out */
  display: block;
  width: 99vw;
  object-fit: contain;
}

.vertical {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}
