@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color-main {
  color: #fadc69;
}

.text-color-secondary {
  color: #122620;
}

@media (min-width: 768px) {
  .md\:text-color-secondary {
    --tw-text-opacity: 1;
    color: #122620;
  }
}

.text-shadow {
  text-shadow: 2px 2px #FF0000;
}

body {
  padding: 0 !important;
  margin: 0; 
  font-size: 16px;
}

.hero-img {
  /* Contain image ratio when zoomed in/out */
  display: block;
  width: 99vw;
  object-fit: contain;
}

.vertical {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
