@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
    background-color: #121b1c;
  }
}

.text-color-main {
  color: #fadc69;
}

.text-color-secondary {
  color: #122620;
}

.bg-secondary {
  background-color: #122620;
}

@media (min-width: 768px) {
  .md\:text-color-secondary {
    --tw-text-opacity: 1;
    color: #122620;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.img-float {
  animation: float 3s ease-in-out infinite;
}

.text-shadow {
  text-shadow: 2px 2px #ff0000;
}

body {
  padding: 0 !important;
  margin: 0;
  font-size: 16px;
}

.hero-img {
  /* Contain image ratio when zoomed in/out */
  display: block;
  width: 99vw;
  object-fit: contain;
}

.vertical {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

/* General padding  */

.padding {
  @apply px-3 md:px-10 lg:px-20;
}

/* Hamburger Style Start */

.hamburger line {
  animation: to-open-icon 1s forwards;
}

button[aria-expanded="true"] line {
  stroke-dashoffset: 79.9;
  animation: to-close-icon 0.5s forwards;
}

.hamburger line.top {
  --rotation: -45deg;
  transform-origin: 65px 45px;
}

.hamburger:hover line {
  @apply stroke-yellow-400;
}

.hamburger line.bottom {
  --rotation: 45deg;
  transform-origin: 60px 55px;
}

@keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}

@keyframes to-open-icon {
  100% {
    stroke-dashoffset: 0;
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}

/* Hamburger Style End */

.animatedImg {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* Loader Style */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #242424 #242424 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #242424 #242424 transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
